footer .container {
  height: 80px;
}

.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}

.back-to-top img {
  filter: invert(0.5);
  transition: all 200ms ease-in-out;
}

.copyright {
  text-align: center;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--primary-color-light-alpha);
}

@media screen and (min-width: 768px) {
  .copyright {
    flex: 4;
    font-size: 1rem;
    font-weight: 600;
  }
  .back-to-top {
    flex: 1;
  }
}
