:root {
  --primary-color-dark: hsla(220, 26%, 14%, 1);
  --primary-color-dark-alpha: hsla(220, 26%, 14%, 0.8);
  --primary-color-light: hsla(204, 45%, 98%, 1);
  --primary-color-light-alpha: hsla(204, 45%, 98%, 0.8);

  --accent-color-primary: #7f00ff;
  --accent-color-secondary: #e100ff;

  --gradient: linear-gradient(
    to right,
    var(--accent-color-primary),
    var(--accent-color-secondary)
  );

  --primary-color-light-separator: hsla(204, 45%, 98%, 0.1);

  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-40: 2.5rem;
  --fs-44: 2.8rem;
}
