:root {
  --primary-color-dark: hsl(218, 27%, 14%, 1);
  --primary-color-dark-alpha: hsl(220, 26%, 14%, 0.6);
  --primary-color-light: hsl(204, 45%, 98%, 1);
  --primary-color-light-alpha: hsl(204, 45%, 98%, 0.6);

  --primary-color-light-separator: hsl(204, 45%, 98%, 0.1);

  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-40: 2.5rem;
  --fs-44: 2.8rem;
}
